.root {
	custom-lightgray:RGB(240, 240, 240);
	custom-darkgray:RGB(200, 200, 200);
    custom-text-fill: RGB(60, 63, 63);
    
    -fx-font-family: "Doulos SIL";
    -fx-font-size:1.3em;
}

.toggle-button {
	-fx-border-radius: 1px;
    -fx-border-width:2px;
	-fx-border-color : transparent;
    -fx-border-radius: 6px;  
}

.toggle-button:selected, .toggle-button:selected:hover {
    -fx-text-fill: black;
    -fx-font-weight : bolder;	
    -fx-border-color : grey;
}
.toggle-button:hover {
    -fx-border-color : custom-darkgray;
}

.filterButton{
	-fx-font-size:11pt;
	-fx-min-height: 30px;
    -fx-min-width: 100px;
	
}

.button, .button.image {
    -fx-background-color: transparent;
    -fx-font-weight:bold;
    -fx-text-fill: custom-text-fill;
    -fx-border-radius: 3px;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: custom-darkgray;
}

.button.image {
    -fx-border-radius: 3px;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: transparent;
}

.button:hover, .button.image:hover {
    -fx-background-color: custom-lightgray;
    -fx-border-color: custom-darkgray;
}

.button:pressed, .button.image:pressed{
    -fx-background-color: custom-darkgray;
    -fx-border-color: custom-lightgray;
}
