.root {
	app-hover-light:RGB(240, 240, 240);
	app-hover-dark:RGB(200, 200, 200);
    app-color-text-fill: RGB(60, 63, 63);
}

.toggle-button {
    -fx-border-width:2px;
	-fx-border-color : transparent;
    -fx-border-radius: 2px;  
}

.toggle-button:selected {
    -fx-text-fill: black;
    -fx-font-weight : bolder;	
    -fx-border-color : grey;
}


.button, .button.image {
    -fx-background-color: transparent;
    -fx-font-weight:bold;
    -fx-text-fill: app-color-text-fill;
    -fx-border-radius: 3px;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: app-hover-dark;
}

.button.image {
    -fx-border-radius: 3px;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: transparent;
}

.button:hover, .button.image:hover {
    -fx-background-color: app-hover-light;
    -fx-border-color: app-hover-dark;
}

.button:pressed, .button.image:pressed{
    -fx-background-color: app-hover-dark;
    -fx-border-color: app-hover-light;
}
